<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav">
        <%= render 'layouts/sidenav_matches' %>
      </div>
      
      <div class="col-md-8">
        
        <%= form_for @personalized_search do |f| %>

          <%= render 'shared/error_messages', object: f.object %>
        
          <div class="update-panel">
      
            <h2 class="panel-title">Buyer's Profile</h2>
            
            <div class="panel-section">
              
              <h4 class="installed-options-title">Vehicle Type</h4>
              
              <div class="row">
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-a">
                  
                  <%= f.check_box :is_convertible %>
                  
                  <%= f.label :is_convertible do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Convertible
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-a.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-b">
                  
                  <%= f.check_box :is_coupe %>
                  
                  <%= f.label :is_coupe do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Coupe
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-b.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-c">
                  
                  <%= f.check_box :is_crossover %>
                  
                  <%= f.label :is_crossover do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Crossover
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-c.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-md-4
                            personalized-search-checkbox
                            personalized-search-checkbox-d">
                  
                  <%= f.check_box :is_hatchback %>
                  
                  <%= f.label :is_hatchback do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Hatchback
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-d.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-e">
                  
                  <%= f.check_box :is_minivan %>
                  
                  <%= f.label :is_minivan do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Minivan
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-e.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-f">
                  
                  <%= f.check_box :is_pickup %>
                  
                  <%= f.label :is_pickup do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Pickup
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-f.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-g">
                  
                  <%= f.check_box :is_sedan %>
                  
                  <%= f.label :is_sedan do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Sedan
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-g.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4
                            personalized-search-checkbox
                            personalized-search-checkbox-h">
                  
                  <%= f.check_box :is_suv %>
                  
                  <%= f.label :is_suv do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        SUV
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-h.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-i">
                  
                  <%= f.check_box :is_van %>
                  
                  <%= f.label :is_van do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Van
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-i.png",
                                  class: "personalized-search-button-icon") %>
                  <% end %>
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-md-4 
                            personalized-search-checkbox
                            personalized-search-checkbox-j">
                  
                  <%= f.check_box :is_wagon %>
                  
                  <%= f.label :is_wagon do %>   
                  
                    <div class="personalized-search-checkbox-text">
                      
                      <span class="personalized-search-checkbox-title">
                        Wagon
                      </span>
                      
                      <span class="personalized-search-checkbox-subtitle">
                        View All 
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </span>
                    </div> 
                    
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/search-button-j.png",
                                  class: "personalized-search-checkbox-icon") %>
                  <% end %>
                </div>
                
                <div class="col-md-4">
                  <!--intentionally left empty-->
                </div>
                
                <div class="col-md-4">
                  <!--intentionally left empty-->
                </div>
              </div>
            </div>
            
            <div class="panel-section">
              <div class="row">
                
                <div class="col-md-4">
                  <div class="form-group form-group-search-parameter">

                    <%= f.label :price, "Max Price" %>
              
                    <span id="edit_price_slider_val" class="slider-label">
                      $200000
                    </span>
              
                    <%= f.text_field :price, 
                                     id: 'edit_price_slider', 
                                     type: 'text',
                                     data: { 'slider-min'   => '0',
                                             'slider-max'   => '200000',
                                             'slider-step'  => '1',
                                             'slider-value' => 
                                               @personalized_search.price } %>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="form-group form-group-search-parameter">
              
                    <%= f.label :mileage, "Max Mileage" %>
                
                    <span id="edit_mileage_slider_val" class="slider-label">
                      300000 mi
                    </span>
                    
                    <%= f.text_field :mileage,
                                     id: 'edit_mileage_slider', 
                                     type: 'text',
                                     data: { 'slider-min'   => '0',
                                             'slider-max'   => '300000',
                                             'slider-step'  => '1',
                                             'slider-value' => 
                                               @personalized_search.mileage } %>
                  </div>
                </div>
            
                <div class="col-md-4">
                  <div class="form-group form-group-search-parameter">
              
                    <%= f.label :year, "Earliest Year" %>
                    
                    <span id="edit_year_slider_val" class="slider-label">1900</span>
                    
                    <%= f.text_field :year, 
                                     id: 'edit_year_slider', 
                                     type: 'text',
                                     data: { 'slider-min'   => '1900',
                                             'slider-max'   => '2016',
                                             'slider-step'  => '1',
                                             'slider-value' => 
                                               @personalized_search.year } %>
                  </div>
                </div>
              </div>

              <div class="panel-section">
                  
                <h4 class="installed-options-title">Installed Options</h4>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :air_conditioning %>
                    <%= f.label :air_conditioning, "Air Conditioning" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :power_windows %>
                    <%= f.label :power_windows, "Power Windows" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :remote_keyless_entry %>
                    <%= f.label :remote_keyless_entry, "Remote Keyless Entry" %> 
                  </div>
                </div>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :speed_control %>
                    <%= f.label :speed_control, "Speed Control" %>
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :am_fm_radio %>
                    <%= f.label :am_fm_radio, "AM / FM Radio" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :wireless_phone_connectivity %>
                    <%= f.label :wireless_phone_connectivity, "Bluetooth" %>
                  </div>
                </div>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :fully_automatic_headlights %>
                    <%= f.label :fully_automatic_headlights, 
                                "Fully Automatic Headlights" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :variably_intermittent_wipers %>
                    <%= f.label :variably_intermittent_wipers, 
                                "Variably Intermittent Wipers" %>  
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :abs_brakes %>
                    <%= f.label :abs_brakes, "ABS Brakes" %> 
                  </div>
                </div>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :brake_assist %>
                    <%= f.label :brake_assist, "Brake Assist" %>
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :dual_front_impact_airbags %>
                    <%= f.label :dual_front_impact_airbags, 
                                "Dual Front Impact Airbags" %>  
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :electronic_stability %>
                    <%= f.label :electronic_stability, "Electronic Stability" %> 
                  </div>
                </div>
                
                <div class="row">
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :security_system %>
                    <%= f.label :security_system, "Security System" %> 
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :traction_control %>
                    <%= f.label :traction_control, "Traction Control" %>  
                  </div>
                  
                  <div class="col-md-4 installed-option">
                    <%= f.check_box :power_steering %>
                    <%= f.label :power_steering, "Power Steering" %>                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <button type="submit"
                  class="btn-save-listing">
            
            <i class="fa fa-floppy-o fa-lg profile-preview-icon" 
               aria-hidden="true"></i>
                      
            Save
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // sliders
      
      var editPriceSlider        = $('#edit_price_slider');
      var editPriceSliderValue   = $('#edit_price_slider_val');
      var editMileageSlider      = $('#edit_mileage_slider');
      var editMileageSliderValue = $('#edit_mileage_slider_val');
      var editYearSlider         = $('#edit_year_slider');
      var editYearSliderValue    = $('#edit_year_slider_val');
      
      editPriceSlider.slider();
      editMileageSlider.slider();
      editYearSlider.slider();
      
      editPriceSlider.on('slide', function(slideEvt) {
      	editPriceSliderValue.text('$' + slideEvt.value);
      });
      editMileageSlider.on('slide', function(slideEvt) {
      	editMileageSliderValue.text('$' + slideEvt.value);
      });
      editYearSlider.on('slide', function(slideEvt) {
      	editYearSliderValue.text('$' + slideEvt.value);
      });
      
      editPriceSlider.on('slideStop', function(slideEvt) {
      	editPriceSliderValue.text('$' + slideEvt.value);
      }); 
      editMileageSlider.on('slideStop', function(slideEvt) {
      	editMileageSliderValue.text('$' + slideEvt.value);
      });
      editYearSlider.on('slideStop', function(slideEvt) {
      	editYearSliderValue.text('$' + slideEvt.value);
      });
  });
</script>