<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav">
        <%= render 'layouts/sidenav_matches' %>
      </div>
      
      <div class="col-md-8">
        
        <%= form_for @personalized_search do |f| %>

          <%= render 'shared/error_messages', object: f.object %>
        
          <div class="update-panel">
      
            <h2 class="panel-title">Buyer's Profile</h2>
            
            <ul class="installed-options-list">
            
              <li>
                <%= f.check_box :is_convertible %>
                <%= f.label :is_convertible, "Convertible" %> 
              </li>
              
              <li>
                <%= f.check_box :is_coupe %>
                <%= f.label :is_coupe, "Coupe" %> 
              </li>
              
              <li>
                <%= f.check_box :is_crossover %>
                <%= f.label :is_crossover, "Crossover" %> 
              </li>
              
              <li>
                <%= f.check_box :is_hatchback %>
                <%= f.label :is_hatchback, "Hatchback" %>
              </li>
              
              <li>
                <%= f.check_box :is_minivan %>
                <%= f.label :is_minivan, "Minivan" %> 
              </li>
              
              <li>
                <%= f.check_box :is_pickup %>
                <%= f.label :is_pickup, "Pickup" %> 
              </li>
              
              <li>
                <%= f.check_box :is_sedan %>
                <%= f.label :is_sedan, "Sedan" %>       
              </li>
              
              <li>
                <%= f.check_box :is_suv %>
                <%= f.label :is_suv, "SUV" %>          
              </li>
              
              <li>
                <%= f.check_box :is_van %>
                <%= f.label :is_van, "Van" %>          
              </li>
              
              <li>
                <%= f.check_box :is_wagon %>
                <%= f.label :is_wagon, "Wagon" %>          
              </li>
            </ul>
            
            <div class="form-group form-group-search-parameter">
        
              <%= f.label :price, "Max Price" %>
        
              <span id="edit_price_slider_val" class="slider-label">
                $200000
              </span>
        
              <%= f.text_field :price, 
                               id: 'edit_price_slider', 
                               type: 'text',
                               data: { 'slider-min'   => '0',
                                       'slider-max'   => '200000',
                                       'slider-step'  => '1',
                                       'slider-value' => 
                                         @personalized_search.price } %>
            </div>
            
            <div class="form-group form-group-search-parameter">
        
              <%= f.label :mileage, "Max Mileage" %>
          
              <span id="edit_mileage_slider_val" class="slider-label">
                300000 mi
              </span>
              
              <%= f.text_field :mileage,
                               id: 'edit_mileage_slider', 
                               type: 'text',
                               data: { 'slider-min'   => '0',
                                       'slider-max'   => '300000',
                                       'slider-step'  => '1',
                                       'slider-value' => 
                                         @personalized_search.mileage } %>
            </div>
            
            <div class="form-group form-group-search-parameter">
        
              <%= f.label :year, "Earliest Year" %>
              
              <span id="edit_year_slider_val" class="slider-label">1900</span>
              
              <%= f.text_field :year, 
                               id: 'edit_year_slider', 
                               type: 'text',
                               data: { 'slider-min'   => '1900',
                                       'slider-max'   => '2016',
                                       'slider-step'  => '1',
                                       'slider-value' => 
                                         @personalized_search.year } %>
            </div>
            
            <ul class="installed-options-list">
  
              <li>
                <%= f.check_box :is_backup_camera %>
                <%= f.label :is_backup_camera, "Backup Camera" %> 
              </li>
              
              <li>
                <%= f.check_box :is_bluetooth %>
                <%= f.label :is_bluetooth, "Bluetooth" %> 
              </li>
              
              <li>
                <%= f.check_box :is_dvd_entertainment_system %>
                <%= f.label :is_dvd_entertainment_system, 
                              "DVD Entertainment System" %> 
              </li>
              
              <li>
                <%= f.check_box :is_leather_seats %>
                <%= f.label :is_leather_seats, "Leather Seats" %>
              </li>
              
              <li>
                <%= f.check_box :is_navigation_system %>
                <%= f.label :is_navigation_system, "Navigation System" %> 
              </li>
              
              <li>
                <%= f.check_box :is_remote_start %>
                <%= f.label :is_remote_start, "Remote Start" %> 
              </li>
              
              <li>
                <%= f.check_box :is_sunroof %>
                <%= f.label :is_sunroof, "Sunroof" %>       
              </li>
              
              <li>
                <%= f.check_box :is_tow_package %>
                <%= f.label :is_tow_package, "Tow Package" %>          
              </li>
            </ul>
            
            <%= f.submit "Save", class: "btn btn-primary btn-basics" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // sliders
      
      var editPriceSlider        = $('#edit_price_slider');
      var editPriceSliderValue   = $('#edit_price_slider_val');
      var editMileageSlider      = $('#edit_mileage_slider');
      var editMileageSliderValue = $('#edit_mileage_slider_val');
      var editYearSlider         = $('#edit_year_slider');
      var editYearSliderValue    = $('#edit_year_slider_val');
      
      editPriceSlider.slider();
      editMileageSlider.slider();
      editYearSlider.slider();
      
      editPriceSlider.on('slide', function(slideEvt) {
      	editPriceSliderValue.text('$' + slideEvt.value);
      });
      editMileageSlider.on('slide', function(slideEvt) {
      	editMileageSliderValue.text('$' + slideEvt.value);
      });
      editYearSlider.on('slide', function(slideEvt) {
      	editYearSliderValue.text('$' + slideEvt.value);
      });
      
      editPriceSlider.on('slideStop', function(slideEvt) {
      	editPriceSliderValue.text('$' + slideEvt.value);
      }); 
      editMileageSlider.on('slideStop', function(slideEvt) {
      	editMileageSliderValue.text('$' + slideEvt.value);
      });
      editYearSlider.on('slideStop', function(slideEvt) {
      	editYearSliderValue.text('$' + slideEvt.value);
      });
  });
</script>