<% provide(:title, "Personalized Search") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <h1 class="search-parameter-title">Which options would you like included?</h1>
  
  <div class="search-parameter-form">
    <%= form_for @personalized_search,
                 url: user_personalized_search_path do |f| %>
      
      <ul class="installed-options-list">
  
        <!--<li>-->
        <!--  <(perc)= f.check_box :is_autonomy %>-->
        <!--  <(perc)= f.label :is_autonomy, "Autonomy" %>         -->
        <!--</li>-->
        
        <li>
          <%= check_box_tag :is_backup_camera %>
          <%= label_tag :is_backup_camera, "Backup Camera" %> 
        </li>
        
        <li>
          <%= check_box_tag :is_bluetooth %>
          <%= label_tag :is_bluetooth, "Bluetooth" %> 
        </li>
        
        <li>
          <%= check_box_tag :is_dvd_entertainment_system %>
          <%= label_tag :is_dvd_entertainment_system, 
                        "DVD Entertainment System" %> 
        </li>
        
        <li>
          <%= check_box_tag :is_leather_seats %>
          <%= label_tag :is_leather_seats, "Leather Seats" %>
        </li>
        
        <li>
          <%= check_box_tag :is_navigation_system %>
          <%= label_tag :is_navigation_system, "Navigation System" %> 
        </li>
        
        <li>
          <%= check_box_tag :is_remote_start %>
          <%= label_tag :is_remote_start, "Remote Start" %> 
        </li>
        
        <li>
          <%= check_box_tag :is_sunroof %>
          <%= label_tag :is_sunroof, "Sunroof" %>       
        </li>
        
        <li>
          <%= check_box_tag :is_tow_package %>
          <%= label_tag :is_tow_package, "Tow Package" %>          
        </li>
      </ul>
    
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        
        Next
        
        <i class="fa fa-arrow-right search-parameter-next"></i>
      <% end %>
    <% end %>
  </div>
</div>