<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <div class="search-parameter-progress-bar hidden-xs">
    
    <div class="search-parameter-complete">
      
      <%= link_to style_personalized_search_path,
                  class: "search-parameter-link
                          search-parameter-link-start" do %>
                          
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/style.png" %>
        
        <span class="search-parameter-link-text-active">Style</span>
      <% end %>   
      
      <%= link_to price_personalized_search_path,
                  class: "search-parameter-link 
                          search-parameter-link-end" do %>
                          
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/price.png" %>
      
        <span class="search-parameter-link-text-active">Price</span>
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to mileage_personalized_search_path,
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/mileage.png" %> 
      
        <span class="search-parameter-link-text-active">Mileage</span>
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to year_personalized_search_path,
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/year.png" %>  
        
        <span class="search-parameter-link-text-active">Year</span>
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to installed_options_personalized_search_path,
                  class: "search-parameter-link search-parameter-link-end" do %>
        
        <%= image_tag "https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/features.png" %>
        
        <span class="search-parameter-link-text-active">Features</span>
      <% end %>
    </div>
  </div>
  
  <h1 class="search-parameter-title">Which options would you like included?</h1>
  
  <div class="search-parameter-form-large">
    <%= form_for @personalized_search do |f| %>
      
      <div class="row">
                    
        <div class="col-md-4 installed-option">
          <%= f.check_box :air_conditioning %>
          <%= f.label :air_conditioning, "Air Conditioning" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :power_windows %>
          <%= f.label :power_windows, "Power Windows" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :remote_keyless_entry %>
          <%= f.label :remote_keyless_entry, "Remote Keyless Entry" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :speed_control %>
          <%= f.label :speed_control, "Speed Control" %>
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :am_fm_radio %>
          <%= f.label :am_fm_radio, "AM / FM Radio" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :wireless_phone_connectivity %>
          <%= f.label :wireless_phone_connectivity, "Bluetooth" %>
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :fully_automatic_headlights %>
          <%= f.label :fully_automatic_headlights, 
                      "Fully Automatic Headlights" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :variably_intermittent_wipers %>
          <%= f.label :variably_intermittent_wipers, 
                      "Variably Intermittent Wipers" %>  
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :abs_brakes %>
          <%= f.label :abs_brakes, "ABS Brakes" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :brake_assist %>
          <%= f.label :brake_assist, "Brake Assist" %>
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :dual_front_impact_airbags %>
          <%= f.label :dual_front_impact_airbags, 
                      "Dual Front Impact Airbags" %>  
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :electronic_stability %>
          <%= f.label :electronic_stability, "Electronic Stability" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :security_system %>
          <%= f.label :security_system, "Security System" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :traction_control %>
          <%= f.label :traction_control, "Traction Control" %>  
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :power_steering %>
          <%= f.label :power_steering, "Power Steering" %>                   
        </div>
      </div>

      <%= button_tag(type: "submit",
                     class: "next-button
                             personalized-search-button-a") do %>
        
        <div class="personalized-search-button-text">
          
          <span class="personalized-search-button-title">
            Save
          </span>
          
          <span class="personalized-search-button-subtitle">
            View Results
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
        
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/matches-next.png",
                      class: "personalized-search-button-icon") %>
      <% end %>
    <% end %>
  </div>
</div>