<% provide(:title, "Personalized Search") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <h1 class="search-parameter-title">Which options would you like included?</h1>
  
  <div class="search-parameter-form">
    <%= form_for @personalized_search do |f| %>
      
      <ul class="installed-options-list">
  
        <li>
          <%= f.check_box :air_conditioning %>
          <%= f.label :air_conditioning, "Air Conditioning" %> 
        </li>
        
        <li>
          <%= f.check_box :power_windows %>
          <%= f.label :power_windows, "Power Windows" %> 
        </li>
        
        <li>
          <%= f.check_box :remote_keyless_entry %>
          <%= f.label :remote_keyless_entry, "Remote Keyless Entry" %> 
        </li>
        
        <li>
          <%= f.check_box :speed_control %>
          <%= f.label :speed_control, "Speed Control" %>
        </li>
        
        <li>
          <%= f.check_box :am_fm_radio %>
          <%= f.label :am_fm_radio, "AM / FM Radio" %> 
        </li>
        
        <li>
          <%= f.check_box :wireless_phone_connectivity %>
          <%= f.label :wireless_phone_connectivity, "Bluetooth" %> 
        </li>
        
        <li>
          <%= f.check_box :fully_automatic_headlights %>
          <%= f.label :fully_automatic_headlights, 
                      "Fully Automatic Headlights" %>       
        </li>
        
        <li>
          <%= f.check_box :variably_intermittent_wipers %>
          <%= f.label :variably_intermittent_wipers, 
                      "Variably Intermittent Wipers" %>          
        </li>
        
        <li>
          <%= f.check_box :abs_brakes %>
          <%= f.label :abs_brakes, "ABS Brakes" %> 
        </li>
        
        <li>
          <%= f.check_box :brake_assist %>
          <%= f.label :brake_assist, "Brake Assist" %>
        </li>
        
        <li>
          <%= f.check_box :dual_front_impact_airbags %>
          <%= f.label :dual_front_impact_airbags, 
                      "Dual Front Impact Airbags" %> 
        </li>
        
        <li>
          <%= f.check_box :electronic_stability %>
          <%= f.label :electronic_stability, "Electronic Stability" %> 
        </li>
        
        <li>
          <%= f.check_box :security_system %>
          <%= f.label :security_system, "Security System" %>       
        </li>
        
        <li>
          <%= f.check_box :traction_control %>
          <%= f.label :traction_control, "Traction Control" %>          
        </li>
        
        <li>
          <%= f.check_box :power_steering %>
          <%= f.label :power_steering, "Power Steering" %>          
        </li>
      </ul>
    
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        
        Next
        
        <i class="fa fa-arrow-right search-parameter-next"></i>
      <% end %>
    <% end %>
  </div>
</div>