<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="search-parameter">
  
  <div class="search-parameter-progress-bar">
    
    <div class="search-parameter-complete">
      
      <%= link_to style_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/style.png",
                      class: "search-parameter-icon
                              search-parameter-icon-start") %>
      <% end %>   
      
      <%= link_to price_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/price.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %>
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to mileage_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/mileage.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %> 
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to year_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/year.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %>  
      <% end %>
    </div>
    
    <div class="search-parameter-complete">
      <%= link_to installed_options_personalized_search_path do %>
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/features.png",
                      class: "search-parameter-icon
                              search-parameter-icon-end") %>
      <% end %>
    </div>
  </div>
  
  <h1 class="search-parameter-title">Which options would you like included?</h1>
  
  <div class="search-parameter-form-large">
    <%= form_for @personalized_search do |f| %>
      
      <div class="row">
                    
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_air_conditioning %>
          <%= f.label :with_air_conditioning, "Air Conditioning" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_power_windows %>
          <%= f.label :with_power_windows, "Power Windows" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_remote_keyless_entry %>
          <%= f.label :with_remote_keyless_entry, "Remote Keyless Entry" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_speed_control %>
          <%= f.label :with_speed_control, "Speed Control" %>
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_am_fm_radio %>
          <%= f.label :with_am_fm_radio, "AM / FM Radio" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_wireless_phone_connectivity %>
          <%= f.label :with_wireless_phone_connectivity, "Bluetooth" %>
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_fully_automatic_headlights %>
          <%= f.label :with_fully_automatic_headlights, 
                      "Fully Automatic Headlights" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_variably_intermittent_wipers %>
          <%= f.label :with_variably_intermittent_wipers, 
                      "Variably Intermittent Wipers" %>  
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_abs_brakes %>
          <%= f.label :with_abs_brakes, "ABS Brakes" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_brake_assist %>
          <%= f.label :with_brake_assist, "Brake Assist" %>
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_dual_front_impact_airbags %>
          <%= f.label :with_dual_front_impact_airbags, 
                      "Dual Front Impact Airbags" %>  
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_electronic_stability %>
          <%= f.label :with_electronic_stability, "Electronic Stability" %> 
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_security_system %>
          <%= f.label :with_security_system, "Security System" %> 
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_traction_control %>
          <%= f.label :with_traction_control, "Traction Control" %>  
        </div>
        
        <div class="col-md-4 installed-option">
          <%= f.check_box :with_power_steering %>
          <%= f.label :with_power_steering, "Power Steering" %>                   
        </div>
      </div>

      <%= button_tag(type: "submit",
                     class: "next-button
                             personalized-search-button-a") do %>
        
        <div class="personalized-search-button-text">
          
          <span class="personalized-search-button-title">
            Save
          </span>
          
          <span class="personalized-search-button-subtitle">
            View Results
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
        
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/matches-next.png",
                      class: "personalized-search-button-icon") %>
      <% end %>
    <% end %>
  </div>
</div>