<% provide(:title, "Matches") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<%= render 'layouts/secondary_navbar' %>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4 sidenav">
        <%= render 'layouts/sidenav_matches' %>
      </div>
      
      <div class="col-md-8">
        
        <div class="matches-introduction">
          
          <span class="matches-introduction-title">
            Personalize Your Search
          </span>
      
          <span class="matches-introduction-subtitle">
            <%= current_user.first_name %>, we’ve grouped vehicles near 
            your location based on how well they match your preferences.
          </span>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
                  
              <!--<(perc)= f.hidden_field :with_city, value: "San Francisco" %>-->

              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price %>
              
              <%= f.hidden_field :with_mileage_numeric_lte, 
                                 value: @personalized_search.mileage %>
                                 
              <button type="submit"
                      class="match-item match-item-a">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Your Best Bets
                  </span>
                  
                  <span class="match-item-subtitle">
                    We've mixed and matched to find the best combo of price, 
                    location, and features.
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-a.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-md-6">
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
            
              <%= f.hidden_field :with_year_gte, 
                                 value: @personalized_search.year %>
              
              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price %>
              
              <%= f.hidden_field :with_mileage_numeric_lte, 
                                 value: @personalized_search.mileage %>
                                 
              <%= f.hidden_field :with_air_conditioning,
                                 value: @personalized_search.air_conditioning %>
                                 
              <%= f.hidden_field :with_power_windows,
                                 value: @personalized_search.power_windows %>
              
              <%= f.hidden_field :with_remote_keyless_entry,
                                 value: @personalized_search.
                                          remote_keyless_entry %>
              
              <%= f.hidden_field :with_speed_control,
                                 value: @personalized_search.speed_control %>
                                 
              <%= f.hidden_field :with_am_fm_radio,
                                 value: @personalized_search.am_fm_radio %>
              
              <%= f.hidden_field :with_wireless_phone_connectivity,
                                 value: @personalized_search.
                                   wireless_phone_connectivity %>
                                   
              <%= f.hidden_field :with_fully_automatic_headlights,
                                 value: @personalized_search.
                                          fully_automatic_headlights %>
              
              <%= f.hidden_field :with_variably_intermittent_wipers,
                                 value: @personalized_search.
                                          variably_intermittent_wipers %>
                                          
              <%= f.hidden_field :with_abs_brakes,
                                 value: @personalized_search.abs_brakes %>
                                 
              <%= f.hidden_field :with_brake_assist,
                                 value: @personalized_search.brake_assist %>
                                 
              <%= f.hidden_field :with_dual_front_impact_airbags,
                                 value: @personalized_search.
                                          dual_front_impact_airbags %>
                                          
              <%= f.hidden_field :with_electronic_stability,
                                 value: @personalized_search.
                                          electronic_stability %>
                                          
              <%= f.hidden_field :with_security_system,
                                 value: @personalized_search.security_system %>
                                 
              <%= f.hidden_field :with_traction_control,
                                 value: @personalized_search.traction_control %>
                                 
              <%= f.hidden_field :with_power_steering,
                                 value: @personalized_search.power_steering %>
              
              <button type="submit"
                      class="match-item match-item-b">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Matches Everything
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-b.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
          
          <div class="col-md-6">
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
            
              <%= f.hidden_field :with_actual_price_lte, 
                                 value: @personalized_search.price %>
              
              <button type="submit"
                      class="match-item match-item-c">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Stay On Budget
                  </span>
                  
                  <span class="match-item-subtitle">
                    But flex mileage and features
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-c.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-md-6">
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
            
              <%= f.hidden_field :with_air_conditioning,
                                 value: @personalized_search.air_conditioning %>
                                 
              <%= f.hidden_field :with_power_windows,
                                 value: @personalized_search.power_windows %>
              
              <%= f.hidden_field :with_remote_keyless_entry,
                                 value: @personalized_search.
                                          remote_keyless_entry %>
              
              <%= f.hidden_field :with_speed_control,
                                 value: @personalized_search.speed_control %>
                                 
              <%= f.hidden_field :with_am_fm_radio,
                                 value: @personalized_search.am_fm_radio %>
              
              <%= f.hidden_field :with_wireless_phone_connectivity,
                                 value: @personalized_search.
                                   wireless_phone_connectivity %>
                                   
              <%= f.hidden_field :with_fully_automatic_headlights,
                                 value: @personalized_search.
                                          fully_automatic_headlights %>
              
              <%= f.hidden_field :with_variably_intermittent_wipers,
                                 value: @personalized_search.
                                          variably_intermittent_wipers %>
                                          
              <%= f.hidden_field :with_abs_brakes,
                                 value: @personalized_search.abs_brakes %>
                                 
              <%= f.hidden_field :with_brake_assist,
                                 value: @personalized_search.brake_assist %>
                                 
              <%= f.hidden_field :with_dual_front_impact_airbags,
                                 value: @personalized_search.
                                          dual_front_impact_airbags %>
                                          
              <%= f.hidden_field :with_electronic_stability,
                                 value: @personalized_search.
                                          electronic_stability %>
                                          
              <%= f.hidden_field :with_security_system,
                                 value: @personalized_search.security_system %>
                                 
              <%= f.hidden_field :with_traction_control,
                                 value: @personalized_search.traction_control %>
                                 
              <%= f.hidden_field :with_power_steering,
                                 value: @personalized_search.power_steering %>
              
              <button type="submit"
                      class="match-item match-item-d">

                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Get All Features
                  </span>
                  
                  <span class="match-item-subtitle">
                    But flex price and mileage
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-d.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
          
          <div class="col-md-6">
            <%= form_for_filterrific @filterrific,
                  url: search_vehicles_path,
                  html: {
                    id: "filterrific-no-ajax-auto-submit"
                  } do |f| %>
            
              <%= f.hidden_field :with_year_gte, 
                                 value: @personalized_search.year %>
              
              <%= f.hidden_field :with_mileage_numeric_lte, 
                                 value: @personalized_search.mileage %>
                                 
              <%= f.hidden_field :with_air_conditioning,
                                 value: @personalized_search.air_conditioning %>
                                 
              <%= f.hidden_field :with_power_windows,
                                 value: @personalized_search.power_windows %>
              
              <%= f.hidden_field :with_remote_keyless_entry,
                                 value: @personalized_search.
                                          remote_keyless_entry %>
              
              <%= f.hidden_field :with_speed_control,
                                 value: @personalized_search.speed_control %>
                                 
              <%= f.hidden_field :with_am_fm_radio,
                                 value: @personalized_search.am_fm_radio %>
              
              <%= f.hidden_field :with_wireless_phone_connectivity,
                                 value: @personalized_search.
                                   wireless_phone_connectivity %>
                                   
              <%= f.hidden_field :with_fully_automatic_headlights,
                                 value: @personalized_search.
                                          fully_automatic_headlights %>
              
              <%= f.hidden_field :with_variably_intermittent_wipers,
                                 value: @personalized_search.
                                          variably_intermittent_wipers %>
                                          
              <%= f.hidden_field :with_abs_brakes,
                                 value: @personalized_search.abs_brakes %>
                                 
              <%= f.hidden_field :with_brake_assist,
                                 value: @personalized_search.brake_assist %>
                                 
              <%= f.hidden_field :with_dual_front_impact_airbags,
                                 value: @personalized_search.
                                          dual_front_impact_airbags %>
                                          
              <%= f.hidden_field :with_electronic_stability,
                                 value: @personalized_search.
                                          electronic_stability %>
                                          
              <%= f.hidden_field :with_security_system,
                                 value: @personalized_search.security_system %>
                                 
              <%= f.hidden_field :with_traction_control,
                                 value: @personalized_search.traction_control %>
                                 
              <%= f.hidden_field :with_power_steering,
                                 value: @personalized_search.power_steering %>
              
              <button type="submit"
                      class="match-item match-item-e">
                
                <div class="match-item-detail">
                  
                  <span class="match-item-title">
                    Pay A Bit More
                  </span>
                  
                  <span class="match-item-info">
                    View All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
                
                <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/match-item-e.png",
                              class: "match-item-image") %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>