<%= form_for_filterrific @filterrific, 
                         html: 
                           { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  
  <div class="vehicle-make-and-model-filters">
    <div class="row">
      
      <div class="col-md-4">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_vehicle_make_id, "Vehicle" %>
          
          <div class="form-element"> 
          
            <%= f.collection_select(:with_vehicle_make_id,
                                    VehicleMake.all,
                                    :id,
                                    :name,
                                    { include_blank: true,
                                      prompt: "All makes" },
                                    id: "vehicle-make-search",
                                    class: "form-control select-secondary") %>
                                            
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_vehicle_model_id, "&nbsp;".html_safe %>
          
          <div class="form-element">
            <%= f.grouped_collection_select(:with_vehicle_model_id,
                                            VehicleMake.order(:name),
                                            :vehicle_models,
                                            :name,
                                            :id,
                                            :name,
                                            { include_blank: 'All models' },
                                            id: "vehicle-model-search",
                                            class: "form-control 
                                                    select-secondary") %>
                                                    
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_city, "City" %>
          
          <div class="form-element">
            <%= f.text_field :with_city, 
                             placeholder: "E.g. San Francisco, CA", 
                             class: "form-control 
                                     form-control-secondary
                                     typeahead" %>
          </div> 
        </div>
      </div>
    </div>
  </div>
  
  <div class="dropdown-filters">
    
    <div class="row">
      
      <div class="col-md-4 body-style">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_body_style, "Style and Engine" %>
          
          <div class="form-element">
            
            <%= f.select :with_body_style, 
                         [ "Convertible", "Coupe", "Crossover", "Hatchback", 
                           "Minivan", "Pickup", "Sedan", "SUV", "Van", 
                           "Wagon" ],
                         { include_blank: true,
                           prompt: "Body style" },
                         class: "form-control select-primary" %>
                
            <i class="fa fa-car fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 exterior">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_exterior, "&nbsp;".html_safe %>
          
          <div class="form-element">
            
            <%= f.select :with_exterior, 
                         [ "Black", "Blue", "Brown", "Gold", 
                           "Gray", "Green", "Orange", "Pink", "Purple", "Red", 
                           "Silver", "Teal", "Unknown", "White", "Yellow" ],
                         { include_blank: true,
                           prompt: "Exterior" },
                         class: "form-control select-primary" %>

            <i class="fa fa-paint-brush fa-lg form-icon" 
               aria-hidden="true"></i>
             
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 interior">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_interior, "&nbsp;".html_safe %>
          
          <div class="form-element">
            
            <%= f.select :with_interior, 
                         [ "Black", "Blue", "Brown", "Gold", 
                           "Gray", "Green", "Orange", "Pink", "Purple", "Red", 
                           "Silver", "Teal", "Unknown", "White", "Yellow" ],
                         { include_blank: true,
                           prompt: "Interior" },
                         class: "form-control select-primary" %>

            <i class="fa fa-paint-brush fa-lg form-icon" 
               aria-hidden="true"></i>
             
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <!--<div class="col-md-4 seating-capacity">-->
      <!--  <div class="form-group form-group-primary">-->
          
      <!--    <(perc)= f.label :with_seating_capacity_gte, "&nbsp;".html_safe %>-->
          
      <!--    <div class="form-element">-->
            
      <!--      <(perc)= f.select :with_seating_capacity_gte, -->
      <!--                   [ ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], -->
      <!--                     ["7", 7], ["8", 8], ["9+", 9] ],-->
      <!--                   { include_blank: true,-->
      <!--                     prompt: "Seating" },-->
      <!--                   class: "form-control select-primary" %>-->

      <!--      <i class="fa fa-users fa-lg form-icon" -->
      <!--         aria-hidden="true"></i>-->
               
      <!--      <i class="fa fa-caret-down fa-lg form-caret" -->
      <!--         aria-hidden="true"></i>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
    
    <div class="row">
      
      <div class="col-md-4 fuel-type">
        <div class="form-group form-group-primary">
          <div class="form-element">
            
            <%= f.select :with_fuel_type, 
                         [ "Biodiesel", "Compressed Natural Gas", "Diesel", 
                           "Electric", "Flex Fuel", "Gasoline", "Hybrid", 
                           "Propane"],
                         { include_blank: true,
                           prompt: "Fuel type" },
                         class: "form-control select-primary" %>

            <i class="fa fa-leaf fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 transmission">
        <div class="form-group form-group-primary">
          <div class="form-element">
            
            <%= f.select :with_transmission, 
                         [ "Automatic", "Manual" ],
                         { include_blank: true,
                           prompt: "Transmission" },
                         class: "form-control select-primary" %>

            <i class="fa fa-cogs fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>  
        </div>
      </div>
      
      <div class="col-md-4 drivetrain">
        <div class="form-group form-group-primary">
          <div class="form-element">
            
            <%= f.select :with_drivetrain, 
                         [ "All-Wheel Drive", "Front-Wheel Drive", 
                           "Rear-Wheel Drive", "Four-Wheel Drive", "4X2"],
                         { include_blank: true,
                           prompt: "Drivetrain" },
                         class: "form-control select-primary" %>

            <i class="fa fa-wrench fa-lg form-icon" 
               aria-hidden="true"></i>
               
            <i class="fa fa-caret-down fa-lg form-caret" 
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="slider-filters">
    <div class="row">
      
      <div class="col-md-4 year">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_year_gte, "Earliest Year" %>
          
          <span id="year_slider_val" class="slider-label">1900</span>
          
          <%= f.text_field :with_year_gte, 
                           id: 'year_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '1900',
                                   'slider-max'   => '2016',
                                   'slider-step'  => '1',
                                   'slider-value' => '1900' } %>
        </div>
      </div>
      
      <div class="col-md-4 price">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_actual_price_lte, "Max Price" %>
          
          <span id="price_slider_val" class="slider-label">
            $200000
          </span>
          
          <%= f.text_field :with_actual_price_lte, 
                           id: 'price_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '0',
                                   'slider-max'   => '200000',
                                   'slider-step'  => '1',
                                   'slider-value' => '200000' } %>
        </div>
      </div>
      
      <div class="col-md-4 mileage">
        <div class="form-group form-group-primary">
          
          <%= f.label :with_mileage_numeric_lte, "Max Mileage" %>
          
          <span id="mileage_slider_val" class="slider-label">
            300000 km
          </span>
          
          <%= f.text_field :with_mileage_numeric_lte,
                           id: 'mileage_slider', 
                           type: 'text',
                           data: { 'slider-min'   => '0',
                                   'slider-max'   => '300000',
                                   'slider-step'  => '1',
                                   'slider-value' => '300000' } %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="installed-options checkbox-filters">
    
    <h4 class="installed-options-title">Installed Options</h4>
    
    <ul class="installed-options-list">
      
      <li>
        <%= f.check_box :with_air_conditioning %>
        <%= f.label :with_air_conditioning, "Air Conditioning" %> 
      </li>
      
      <li>
        <%= f.check_box :with_power_windows %>
        <%= f.label :with_power_windows, "Power Windows" %> 
      </li>
      
      <li>
        <%= f.check_box :with_remote_keyless_entry %>
        <%= f.label :with_remote_keyless_entry, "Remote Keyless Entry" %> 
      </li>
      
      <li>
        <%= f.check_box :with_speed_control %>
        <%= f.label :with_speed_control, "Speed Control" %>
      </li>
      
      <li>
        <%= f.check_box :with_am_fm_radio %>
        <%= f.label :with_am_fm_radio, "AM / FM Radio" %> 
      </li>
      
      <li>
        <%= f.check_box :with_wireless_phone_connectivity %>
        <%= f.label :with_wireless_phone_connectivity, "Bluetooth" %> 
      </li>
      
      <li>
        <%= f.check_box :with_fully_automatic_headlights %>
        <%= f.label :with_fully_automatic_headlights, 
                    "Fully Automatic Headlights" %>       
      </li>
      
      <li>
        <%= f.check_box :with_variably_intermittent_wipers %>
        <%= f.label :with_variably_intermittent_wipers, 
                    "Variably Intermittent Wipers" %>          
      </li>
      
      <li>
        <%= f.check_box :with_abs_brakes %>
        <%= f.label :with_abs_brakes, "ABS Brakes" %> 
      </li>
      
      <li>
        <%= f.check_box :with_brake_assist %>
        <%= f.label :with_brake_assist, "Brake Assist" %>
      </li>
      
      <li>
        <%= f.check_box :with_dual_front_impact_airbags %>
        <%= f.label :with_dual_front_impact_airbags, 
                    "Dual Front Impact Airbags" %> 
      </li>
      
      <li>
        <%= f.check_box :with_electronic_stability %>
        <%= f.label :with_electronic_stability, "Electronic Stability" %> 
      </li>
      
      <li>
        <%= f.check_box :with_security_system %>
        <%= f.label :with_security_system, "Security System" %>       
      </li>
      
      <li>
        <%= f.check_box :with_traction_control %>
        <%= f.label :with_traction_control, "Traction Control" %>          
      </li>
      
      <li>
        <%= f.check_box :with_power_steering %>
        <%= f.label :with_power_steering, "Power Steering" %>          
      </li>
    </ul>
  </div>
  
  <div class="row">
    
    <div class="col-md-4">
      <%= f.submit "Apply", class: "btn btn-apply-filters" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to("Reset", 
                  reset_filterrific_url, 
                  class: "btn btn-cancel-filters") %>
    </div>
    
    <div class="col-md-4">
      <div class="btn btn-cancel-filters">Cancel</div>
    </div>
  </div>
  
  <!--<div>-->
  <!--  Sorted by-->
  <!--  <(perc)= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>-->
  <!--</div>-->
<% end %>