<% provide(:title, "Your Listings") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<%= render 'layouts/hero_backend' %>

<nav class="secondary-navbar hidden-xs">
  <div class="secondary-navbar-nav">
    <ul class="nav navbar-nav navbar-left">
      
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Inbox",     conversations_path %></li>
      <li><%= link_to "Shortlist", shortlist_user_path(current_user) %></li>
      <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
      <li class="nav-active"><%= link_to "Your Listings", vehicles_path %></li>
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<nav class="dropdown dropdown-backend visible-xs">
  
  <a href='#' class="dropdown-toggle" data-toggle="dropdown">
    Your Listings <b class="caret"></b>
  </a>
  
  <ul class="dropdown-menu">
    
    <li><%= link_to "Dashboard",   dashboard_path %></li>
    <li><%= link_to "Inbox",       conversations_path %></li>
    <li><%= link_to "Shortlist",   shortlist_user_path(current_user) %></li>
    <li><%= link_to "Matches", personalized_search_path(current_user) %></li>
    <li class="dropdown-active">
      <%= link_to "Your Listings", vehicles_path %>
    </li>
    <li><%= link_to "Profile", edit_user_path(current_user) %></li>
  </ul>
</nav>

<div class="backend">
  <div class="backend-content">
    <div class="row">
    
      <div class="col-md-4"> 
        <%= render 'sidenav' %>
      </div>
      
      <div class="col-md-8">
        <%= form_for @vehicle do |f| %>
        
          <div class="update-panel">
            
            <h2 class="panel-title">Vehicle Description</h2>
            
            <div class="form-group">
            
              <%= f.label :listing_name, "Listing Name" %>
              
              <%= f.text_field :listing_name, 
                               placeholder: "Eg. Jaguar F-Type", 
                               class: "form-control form-control-primary",
                               required: true %>
            </div>
          
            <div class="form-group">
              
              <%= f.label :description %>
              
              <%= f.text_area :description, 
                              rows: 3,
                              placeholder: "Eg. Based on the XK convertible.", 
                              class: "form-control form-control-primary",
                              required: true %>
            </div>
        
            <!--<div class="form-group">-->
              
            <!--  <(perc)= f.label :sellers_notes, "Seller's Notes" %>-->
              
            <!--  <(perc)= f.text_area :sellers_notes,-->
            <!--                  rows: 3,-->
            <!--                  placeholder: "Eg. Now selling at reduced cost.", -->
            <!--                  class: "form-control form-control-primary" %>-->
            <!--</div>-->
          </div>
        
          <div class="update-panel">
            
            <h2 class="panel-title">Features</h2>
        
            <div class="row">
            
              <div class="col-md-6 form-group">
    
                <%= f.label :body_style, "Body Style" %>
                
                <div class="form-element">
                  
                  <%= f.select :body_style, 
                               [ "Convertible", "Coupe", "Crossover", 
                                 "Hatchback", "Minivan", "Off-Road", "Pickup", 
                                 "Sedan", "SUV", "Van", "Wagon" ],
                               { include_blank: true, 
                                 prompt: "Select body style" },
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-car fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
              
              <div class="col-md-6 form-group">
    
                <%= f.label :exterior %>
                
                <div class="form-element">
                  
                  <%= f.select :exterior, 
                               [ "Black", "Blue", "Brown", "Gold", "Gray", 
                                 "Green", "Orange", "Pink", "Purple", "Red", 
                                 "Silver", "Teal", "Unknown", "White", 
                                 "Yellow" ],
                               { include_blank: true, prompt: "Select color" }, 
                               { required: true, 
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-paint-brush fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
            
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :interior %>
                
                <div class="form-element">
                  
                  <%= f.select :interior, 
                               [ "Black", "Blue", "Brown", "Gold", "Gray", 
                                 "Green", "Orange", "Pink", "Purple", "Red", 
                                 "Silver", "Teal", "Unknown", "White", 
                                 "Yellow" ],
                               { include_blank: true, prompt: "Select color" }, 
                               { required: true, 
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-paint-brush fa-lg form-icon" 
                   aria-hidden="true"></i>
                   
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
              
              <!--<div class="col-md-6 form-group">-->
    
              <!--  <(perc)= f.label :seating_capacity, "Seating Capacity" %>-->
                
              <!--  <div class="form-element">-->
                  
              <!--    <(perc)= f.select :seating_capacity, -->
              <!--                 [ ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], -->
              <!--                   ["7", 7], ["8", 8], ["9+", 9] ],-->
              <!--                 { include_blank: true, -->
              <!--                   prompt: "Select seating capacity" },-->
              <!--                 { required: true,-->
              <!--                   class: "form-control select-primary" } %>-->
                      
              <!--    <i class="fa fa-users fa-lg form-icon" -->
              <!--     aria-hidden="true"></i>-->
                   
              <!--    <i class="fa fa-caret-down fa-lg form-caret" -->
              <!--       aria-hidden="true"></i>-->
              <!--  </div>-->
              <!--</div>-->
              
              <div class="col-md-6 form-group">
    
                <%= f.label :fuel_type, "Fuel Type" %>
                
                <div class="form-element">
                  
                  <%= f.select :fuel_type, 
                               [ "Biodiesel", "Compressed Natural Gas", 
                                 "Diesel", "Electric", "Flex Fuel", "Gasoline", 
                                 "Hybrid", "Propane"],
                               { include_blank: true, 
                                 prompt: "Select fuel type" }, 
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-leaf fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
    
            <div class="row">
              
              <div class="col-md-6 form-group">
    
                <%= f.label :transmission %>
                
                <div class="form-element">
                  
                  <%= f.select :transmission, 
                               [ "Automatic", "Manual" ],
                               { include_blank: true,
                                 prompt: "Select transmission" },
                               { required: true,
                                 class: "form-control select-primary" } %>
                      
                  <i class="fa fa-cogs fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
    
              <div class="col-md-6 form-group">
    
                <%= f.label :drivetrain do %>
                
                  Drivetrain
                  
                  <div class="info">
                
                    <i class="fa fa-lg fa-info-circle info-icon"></i>
                    
                    <p class="info-text">
                      
                      <!--Front-Wheel Drive: Engine power is diverted to front -->
                      <!--wheels-->
                      <!--</br>-->
                      
                      <!--Rear-Wheel Drive: Engine power is diverted to rear wheels-->
                      <!--</br>-->
                      
                      <!--4X2:-->
                      <!--</br>-->
                      
                      <!--Four-Wheel Drive:-->
                      <!--</br>-->
                      
                      <!--All-Wheel Drive:-->
                    </p>
                  </div>
                <% end %>
                
                <div class="form-element">
                  
                  <%= f.select :drivetrain, 
                               [ "Front-Wheel Drive", "Rear-Wheel Drive", "4X2", 
                                 "Four-Wheel Drive", "All-Wheel Drive" ],
                               { include_blank: true, 
                                 prompt: "Select drivetrain" }, 
                               { required: true,
                                 class: "form-control select-primary" } %>
                    
                  <i class="fa fa-wrench fa-lg form-icon" 
                     aria-hidden="true"></i>
                     
                  <i class="fa fa-caret-down fa-lg form-caret" 
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
            
            <div class="installed-options">
              
              <span class="installed-options-title">Installed Options</span>
              
              <ul class="installed-options-list">
                
                <li>
                  <%= f.check_box :air_conditioning %>
                  <%= f.label :air_conditioning, "Air Conditioning" %> 
                </li>
                
                <li>
                  <%= f.check_box :power_windows %>
                  <%= f.label :power_windows, "Power Windows" %> 
                </li>
                
                <li>
                  <%= f.check_box :remote_keyless_entry %>
                  <%= f.label :remote_keyless_entry, "Remote Keyless Entry" %> 
                </li>
                
                <li>
                  <%= f.check_box :speed_control %>
                  <%= f.label :speed_control, "Speed Control" %>
                </li>
                
                <li>
                  <%= f.check_box :am_fm_radio %>
                  <%= f.label :am_fm_radio, "AM / FM Radio" %> 
                </li>
                
                <li>
                  <%= f.check_box :wireless_phone_connectivity %>
                  <%= f.label :wireless_phone_connectivity, "Bluetooth" %> 
                </li>
                
                <li>
                  <%= f.check_box :fully_automatic_headlights %>
                  <%= f.label :fully_automatic_headlights, 
                              "Fully Automatic Headlights" %>       
                </li>
                
                <li>
                  <%= f.check_box :variably_intermittent_wipers %>
                  <%= f.label :variably_intermittent_wipers,
                              "Variably Intermittent Wipers" %>          
                </li>
                
                <li>
                  <%= f.check_box :abs_brakes %>
                  <%= f.label :abs_brakes, "ABS Brakes" %> 
                </li>
                
                <li>
                  <%= f.check_box :brake_assist %>
                  <%= f.label :brake_assist, "Brake Assist" %>
                </li>
                
                <li>
                  <%= f.check_box :dual_front_impact_airbags %>
                  <%= f.label :dual_front_impact_airbags, 
                              "Dual Front Impact Airbags" %> 
                </li>
                
                <li>
                  <%= f.check_box :electronic_stability %>
                  <%= f.label :electronic_stability, "Electronic Stability" %> 
                </li>
                
                <li>
                  <%= f.check_box :security_system %>
                  <%= f.label :security_system, "Security System" %>       
                </li>
                
                <li>
                  <%= f.check_box :traction_control %>
                  <%= f.label :traction_control, "Traction Control" %>          
                </li>
                
                <li>
                  <%= f.check_box :power_steering %>
                  <%= f.label :power_steering, "Power Steering" %>          
                </li>
              </ul>
            </div>
          </div>
          
          <!--<(perc) if current_user.dealership_id.present? %>-->
          <!--  <div class="update-panel">-->
              
          <!--    <h2 class="panel-title">Upgrades</h2>-->
              
          <!--    <p class="panel-instructions">-->
          <!--      Drive consumer satisfaction and increase revenue by offering-->
          <!--      additional services to consumers.-->
          <!--    </p>-->
              
          <!--    <(perc)= f.fields_for :upgrades do |upgrade| %>-->
          <!--      <(perc)= render 'upgrade_fields', f: upgrade %>-->
          <!--    <(perc) end %>-->
                
          <!--    <div class="links">-->
          <!--      <(perc)= link_to_add_association "+ Add Upgrade", -->
          <!--                                  f, -->
          <!--                                  :upgrades %>-->
          <!--    </div>-->
          <!--  </div>-->
          
          <!--  <div class="update-panel">-->
              
          <!--    <h2 class="panel-title">Special Offers</h2>-->
              
          <!--    <p class="panel-instructions">-->
          <!--      Attract consumers by offering discounts and other special -->
          <!--      offers.-->
          <!--    </p>-->
              
          <!--    <(perc)= f.fields_for :special_offers do |special_offer| %>-->
          <!--      <(perc)= render 'special_offer_fields', f: special_offer %>-->
          <!--    <(perc) end %>-->
                
          <!--    <div class="links">-->
          <!--      <(perc)= link_to_add_association "+ Add Special Offer", -->
          <!--                                  f, -->
          <!--                                  :special_offers %>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--<(perc) end %>-->

          <%= f.hidden_field :bumped_at,  value: Time.now %>
            
          <%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>